tr.mat-header-row{
    background-color:#8b8f94
  }
  .mat-footer-row {
    background-color:#8b8f94!important;
    font-weight: bold;
  }
  th,
td {
  padding-left: 10px !important ;
  padding-right: 10px !important;
  padding-top: 10px !important;

}