// .example-container {
//     width: 100%;
//     height: 800px;
//     border: 1px solid rgba(0, 0, 0, 0.5);
//   }
  
//   .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .example-sidenav {
//     padding: 20px;
//   }

.filter-options{
    width: 100%;
    height: 100%;
    padding:15px 15px 15px 15px ;
}
.margin-top{
    margin-top: 20px;
}


app-print-page {
    /* hide the printing component from @media screen */
    display: none;
  }
  
  @media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
  
    app-print-page {
      display: block;
    }
  
    app-sales {
      display: none;
    }
  }