<section class="content">
    <div class="body_scroll">
      <div class="block-header">
        <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
              <font style="vertical-align: inherit"
                ><font style="vertical-align: inherit">لیست  تعهدات ارزی</font></font
              >
            </h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html"
                  ><i class="zmdi zmdi-home"></i
                  ><font style="vertical-align: inherit"
                    ><font style="vertical-align: inherit"> مدیریت فروش ارز</font></font
                  ></a
                >
              </li>
              <li class="breadcrumb-item active">
                <font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">لیست  تعهدات ارزی</font></font
                >
              </li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button">
              <i class="zmdi zmdi-sort-amount-desc"></i>
            </button>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12">
            <a class="btn btn-primary btn-icon float-right"    [routerLink]="'/pies/pi-list-all'"  >
              <i class="zmdi zmdi-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="card serch-card" *ngIf="filterPiSales.currencySaleDetailPi !== null && filterPiSales.currencySaleDetailPi.length > 0">

        <div class="body">
          <!-- <div class="header">
            <h2>
              <strong><font style="vertical-align: inherit"></font></strong>
                  <font style="vertical-align: inherit"><font style="vertical-align: inherit">قیمت نرخ پایه درهم فروش رفته {{getsellPriceCurrency() | number}}  ریال    </font>
                  قیمت نرخ پایه برای PI {{getsellPriceCommodity() | number}}  ریال 
                </font>
            </h2>
          </div> -->

          <div class="form-group row">
              <div class="col-2" >
              </div>
            <mat-form-field class="col-7">
              <mat-label>جستجو بر اساس سریال اظهارنامه ....</mat-label>
              <input persianNumber  matInput  placeholder="متن خود را وارد کنید " (keyup)="onKey($event)"/>
            </mat-form-field>
              <button  mat-mini-fab  color="gray" class="btn btn-primary mb-1" (click)="searchButton()">
                <mat-icon>search</mat-icon>
              </button>
          </div>
          <div class="container-fluid">
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="card">
                  <div class="table-border table-secondary div-table">
                    <table mat-table [dataSource]="this.dataSource" matSort *ngIf="this.dataSource !== null"
                      class="table table-striped table-hover align-middle" >
                      <!-- piCode Column -->
                      <ng-container matColumnDef="piCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort" >
                         شماره PI
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.piCode }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      
                      <!-- currSaleDate Column -->
                      <ng-container matColumnDef="currSaleDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort" >
                          تاریخ فروش
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.currSaleDate | jalaliPipe }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- sellPriceCurrency Column -->
                      <ng-container matColumnDef="sellPriceCurrency">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort" >
                          نرخ پایه فروش رفته ارز(درهم)
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                          {{ element.sellPriceCurrency | number }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef class="text-center">{{getsellPriceCurrency()| number:'1.0-0'}} درهم</td>
                      </ng-container>

                      <!-- brokerName Column -->
                      <ng-container matColumnDef="brokerName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort" >
                         کارگزار
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.brokerName  }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- price Column -->
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort" >
                          مقدار (درهم)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.price | number  }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{getTotalPrice() | number}} درهم</td>
                      </ng-container>

                      <!-- sellPriceCommodity Column -->
                      <ng-container matColumnDef="sellPriceCommodity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort"  >
                          نرخ پایه فروش رفته قیر(درهم)
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                          {{ element.sellPriceCommodity | number }}
                        </td>
                        <td mat-footer-cell class="text-center"  *matFooterCellDef>{{getsellPriceCommodity()| number:'1.0-0'}} درهم</td>
                      </ng-container>
                      
                      <!-- customerName Column -->
                      <ng-container matColumnDef="customerName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort" >
                          مشتری
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.customerName }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <!-- profitLossAmount Column -->
                      <ng-container matColumnDef="profitLossAmount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header   class="headersort" >
                          سود و زیان
                        </th>
                        <td mat-cell *matCellDef="let element" [class]="element.profitLossAmount >= 0  ? 'text-success' : 'text-danger'">
                          <span *ngIf="element.profitLossAmount >= 0"> {{ element.profitLossAmount | number}} ریال</span>
                          <span *ngIf="0 > element.profitLossAmount"> ({{ element.profitLossAmount *-1 | number}}) ریال </span>
                         </td>
                          <td mat-footer-cell *matFooterCellDef>
                            <span *ngIf="getprofitLossAmount() >= 0"> {{ getprofitLossAmount() | number}} ریال</span>
                            <span *ngIf="0 > getprofitLossAmount()"> ({{ getprofitLossAmount()*-1 | number}}) ریال </span>
                         </td>
                      </ng-container>

                  
                      <!-- id Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell  *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.id }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                    </table>
                  </div>
                </div>
                <div class="margin-bottom">
                  <div class="d-inline-block col-9">
                    <ul class="pagination pagination-primary m-b-0">
                      <li class="page-item" (click)="setFirstPage()">
                        <a class="page-link"><i class="zmdi zmdi-arrow-left"></i></a>
                      </li>
                      <li
                        class="page-item"   [ngClass]="{ active: page === filterPiSales.activePage }"   (click)="setPage(page)"   *ngFor="let page of pages">
                        <a class="page-link" href="javascript:void(0);"><font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">{{  page }}</font></font></a   >
                      </li>
                      <!-- <li class="page-item active"><a class="page-link" href="javascript:void(0);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ page }}</font></font></a></li> -->
                      <li class="page-item" (click)="setLastPage()">
                        <a class="page-link"
                          ><i class="zmdi zmdi-arrow-right"></i ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="d-inline-block ">
                      <mat-form-field appearance="fill">
                        <mat-label>نمایش نتایج</mat-label>
                        <mat-select (value)="filterPiSales.takeEntity" (selectionChange)="selectedValue($event.value)" >
                          <mat-option value=10>10</mat-option>
                          <mat-option value=25>25</mat-option>
                          <mat-option value=50>50</mat-option>
                          <mat-option value=100>100</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card serch-card" *ngIf="filterPiSales.currencySaleDetailPi === null || filterPiSales.currencySaleDetailPi.length === 0">
        <div class="body">
          <div class="form-group text-center">
            <h2 class="text-primary">هیچ PI فروخته شده ایی در سیستم وجود ندارد</h2>
          </div>
        </div>
      </div>
    </div>

  </section>
  

  <!-- <mat-form-field appearance="fill">
    <mat-label>نمایش </mat-label>
    <select matNativeControl required>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </mat-form-field> -->

  
  <swal
    #sweetAlert
    title="سوال"
    text="آیا میخواهید اظهارنامه مورد نظر حذف شود ؟"
    icon="warning"
    Height="20px"
    Width="30px"
    confirmButtonText="بلی"
    cancelButtonText="خیر"
    [showCancelButton]="true"
  >
  </swal>
  