tr.mat-row,
tr.mat-footer-row {
  height: 24px !important;
  font-size: medium;
}

th,
td {
  padding-left: 10px !important ;
  padding-right: 10px !important;
  padding-top: 10px !important;

}


.operation-inline {
  width: 100px;
  margin-top: -10px;
}

.text-success {
  color: green;
}

.color-sold-price {
  color: rgb(172, 172, 172);
}

.mat-footer-row {
  background-color:#1e7cec!important;
  font-weight: bold;
}

.mat-footer-cell{
    color: white;
    padding-bottom: 10px;
}
