
            <stimulsoft-viewer-angular

            [requestUrl]="domain +'/Viewer/{action}'"

            [action]="'InitViewer'"
            [properties]="properties"
            ></stimulsoft-viewer-angular>

            <!-- <stimulsoft-viewer-angular

            [requestUrl]="domain +'/CurrencyReport/{action}'"

            [action]="'GetReportdCurrSales/filterCurrSales'"


            ></stimulsoft-viewer-angular> -->

<!-- <section class="content">
  <div class="body_scroll">
      <div class="block-header">
        <div class="row">
          <div class="col-md-12 col-sm-12">

          </div>
        </div>
      </div>
  </div>
</section> -->
<!-- <stimulsoft-viewer-angular [requestUrl]="'domain +/Viewer/{action}'" [action]="'Post'" ></stimulsoft-viewer-angular> -->
