/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
input.ng-touched.ng-invalid{
  border: 1px solid #f3aaaa;
  box-shadow: 3px 3px 20px #efd3d3;
}
p.text-danger{
  margin-right:10px ;
  font-size: smaller;
  font-weight: bold;
}
.swal2-popup{
  width:25% !important;
  min-width: 300px;
  font-size: .7rem !important;
}

.ls-closed section.content{
  margin-right: 60px;
}
// .card.body{
//   padd
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.top-margin {
  margin-top: 7px !important;
}
 th,td{
  font-family: 'IRANSansDN';
  font-weight: initial;
 }
//  tr.mat-row,
// tr.mat-footer-row {
//   height: 24px !important;
//   font-size: medium;
// }

th,
td {
  padding-left: 10px !important ;
  padding-right: 10px !important;
  padding-top: 10px !important;

}
.card .body {
  font-family: 'IRANSansDN';
}

.operation-inline {
  width: 100px;
  margin-top: -10px;
}



.mat-footer-cell{
    color: white;
    padding-bottom: 10px!important;
}

// tr.mat-row{
//     height: 30px;
//     margin: 0 0 5px 5px;
//     display: table-row;
//     vertical-align: inherit;
//     border-color: inherit;
// }
.serch-card{
  width: 95%;
  margin-right: 2%;
}
.margin-bottom{
  margin-top: -40px;
  width: 97%;
  margin-right: 1.2%;
}

.div-table{
  width: 98%;
  padding-right: 1px;
  margin-right: 2%;
}
.mat-form-field{
  font-size: smaller
}

tr.mat-header-row{
  background-color: #1e7cec;//#9eb2ca;

}

tr.cdk-header-row .ng-star-inserted{
  //font-weight:bold !important;
  color: white !important;
  padding-bottom: 20px !important;
}
.mat-cell, .mat-footer-cell {
  font-size: smaller  !important;
}
// tr.mat-row,
// tr.mat-footer-row {
//   height: 24px !important;
//   font-size: medium;
// }

th,
td {
  padding-left: 10px !important ;
  padding-right: 10px !important;
  padding-top: 10px !important;

}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important ;
  }

.operation-inline {
  width: 100px;
  margin-top: -10px;
}

.color-green-price {
  color: green;
}
.text-danger {
  color: red;
}
.color-gray-price {
  color: rgb(172, 172, 172);
}

.mat-footer-row {
  background-color:#1e7cec!important;
  font-weight: bold;
}

.mat-footer-cell{
    color: white;
    padding-bottom: 10px;
}



