  
    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <form class="card auth_form">
                        <div class="header">
                            <img class="logo" src="assets/images/logo.svg" alt="">
                            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">خطای 404</font></font></h5>
                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">صفحه یافت نشد</font></font></span>
                        </div>
                        <div class="body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="جستجو کردن...">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="zmdi zmdi-search"></i></span>
                                </div>
                            </div>
                            <a href="index.html" class="btn btn-primary btn-block waves-effect waves-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">رفتن به صفحه اصلی</font></font></a>                        
                            <div class="signin_with mt-3">
                                <a href="javascript:void(0);" class="link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">کمک خواستن؟</font></font></a>
                            </div>
                        </div>
                    </form>
                    <div class="copyright text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        ©
                         </font></font><script>document.write(new Date().getFullYear())</script>2021<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2020 ،
                         </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">طراحی شده توسط </font></font><a href="https://thememakker.com/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ThemeMakker</font></font></a></span>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <img src="assets/images/404.svg" alt="404">
                    </div>
                </div>
            </div>
        </div>
